#header #nav1 {
    text-align: center;
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2.5em;
  }
  #header #nav1 ul {
    list-style: none;
  }
  #header #nav1 ul li {
    display: inline;
    margin-right: 20px;
  }
#header a{
text-decoration: none;
color: rgba(91, 87, 87, 0.6);
}
#header{
    text-align:center;
    line-height:1;
}